name: Build

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  JAVA_VERSION: 17
  GRADLE_VERSION: 'wrapper'

jobs:
  load_version:
    name: Load Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load Version
        id: get_version
        run: |
          VERSION=$(awk -F= '/^app-version=/ {print $2; exit}' src/main/resources/x.properties)
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "VERSION: $VERSION"
  build-macos-packages:
    needs: load_version
    name: Build MacOS Packages - ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: macos-13-intel

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          architecture: ${{ matrix.arch }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Build packages
        run: |
          VERSION=${{ needs.load_version.outputs.VERSION }}
          ARCH=${{ matrix.arch }}
          OLD_DMG="FreeBox-${VERSION}.dmg"
          NEW_DMG="FreeBox_${VERSION}_${ARCH}.dmg"
          
          mkdir -p distribution
          
          chmod +x ./gradlew
          ./gradlew jlink
          
          ./gradlew jpackage "-Pjpackage.installerType=dmg" "-Pjpackage.arch=${ARCH}" -x check -x test
          cd build/jpackage/
          if [ -f "$OLD_DMG" ]; then
            mv "$OLD_DMG" "../../distribution/$NEW_DMG"
          else
            echo "No DMG files found"
          fi
          cd ../../
          
          echo "generated packages:"
          ls -la distribution/

      - name: Upload MacOS package
        uses: actions/upload-artifact@v4
        with:
          name: FreeBox-macos-${{ matrix.arch }}-${{ github.sha }}
          path: distribution/*.dmg
          retention-days: 30
